* {
    margin: 0;
    padding: 0;
}
body {
    /* background-color: blueviolet; */
    width: 100%;
    height: 100vh;

    display: flex;
    overflow: hidden
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    width: 16%;
    height: 100vh;
    background-color: #20242A;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.fotoPerfil {
    background-image: url('imagens/Screenshot_1.jpg');
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 45px;
    margin-top: 20px;
    margin-bottom: 50px;
    
    transform: scale(1);
    transform-origin: center center;
    transition: all .2s ease-in-out;
}

.aside_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.aside_section_article {
    /* outline: 1px solid wheat; */
    text-align: end;
    padding-bottom: 15px;
    width: 190px;
    margin: 10px 0px;
    border-bottom: 2px solid #3A3F48;
    /* position: relative; */
}
.aside_section_article a {
    text-decoration: none;    
    color: #FFFFFF;
    height: 15px;

    display: inline-block;
    transform-origin: right center;
    transition: all .2s ease-in-out;
}
.aside_section_article a:hover {
    transform: scale(1.5);
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
    color: #E66A2C;
}

/* ============================================================== */


.main__home {
    width: 84%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagens/bg-unsplash.png");
    background-size: cover;
    padding-left: 70px;
    padding-top: 30px;
}
.main__home h1 {
    color: #D1D5DB;
    margin-bottom: 30px;
}
.main__home h2 {
    color: #E66A2C;
    margin-top: 20px;
}
.main__home p {
    color: #D1D5DB;
    margin-top: 20px;
}
.main__home h3 {
    color: #E66A2C;
    margin-top: 35px;
}
.main__section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 50%;
    height: 55px;
    border: 1px solid whitesmoke;
    margin-top: 15px;
    padding: 5px 10px 0px;
    border-radius: 5px;
}
.main_section_article {
    /* outline: 1px solid rgb(79, 49, 230); */
    width:35px;
    height: auto;
}
.main_section_article a {
    width:10px;
    height: auto;

    transition: all .2s ease-in-out;
}
.main_section_article img {
    width: 35px;
    height: auto;
    transition: all .2s ease-in-out;
    
}
.main_section_article_y img{
    width: 65px;
    height: auto;
    transition: all .2s ease-in-out;
}
.main_section_article img:hover {
    transform: scale(1.5);
}
.main_section_article_y img:hover {
    transform: scale(1.5);
}


/* =================Multiverso=============================== */
.animacoes {
    /* width: 100vw; */
    height: 300px;
    /* outline: 1px solid wheat; */
    display: flex;
}
.cat {
    width: 400px;
    height: 200px;
    background-image: url(imagens/walking_sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 20px;
    /* outline: 1px solid wheat; */

    transition: transform 0.3s;
    animation: gato 0.5s steps(12) infinite;    
    transform: scale(0.5);
}
.puma {
    width: 430px;
    height: 219.25px;
    background-image: url(imagens/puma.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 20px;
    transform: scaleX(-1);
    /* outline: 1px solid wheat; */
    animation: walk-col4 0.5s steps(4) infinite;
}   
.riu{
    width: 105px; /* ajuste depois pro tamanho do frame que você quiser exibir */
    height: 120px;
    background-image: url(imagens/187703.png);
    background-repeat: no-repeat;
    animation: play 2s infinite;
    animation-timing-function: steps(7);
    opacity: 0;
}

/* ============ @Keyframes ======================= */
@keyframes gato {
    from { background-position: -1200px 0; }
    to { background-position: -1200px -2400px; }
}
@keyframes walk-col4 {
    from { background-position: 0px 0; }
    to { background-position: 0px -877px; }
}
@keyframes tremer {
    0%, 100% { transform: scaleX(-1) scale(1.5) translate(0, 0); }
    10% { transform: scaleX(-1) scale(1.5) translate(-2px, 1px); }
    20% { transform: scaleX(-1) scale(1.5) translate(2px, -1px); }
    30% { transform: scaleX(-1) scale(1.5) translate(-2px, -1px); }
    40% { transform: scaleX(-1) scale(1.5) translate(2px, 2px); }
    50% { transform: scaleX(-1) scale(1.5) translate(-1px, -2px); }
    60% { transform: scaleX(-1) scale(1.5) translate(1px, 2px); }
    70% { transform: scaleX(-1) scale(1.5) translate(-2px, 1px); }
    80% { transform: scaleX(-1) scale(1.5) translate(2px, -1px); }
    90% { transform: scaleX(-1) scale(1.5) translate(-1px, 1px); }
}
@keyframes play { 
    from { background-position: -390px -1420px; }
    to   { background-position: -1175px -1420px; }
}

/* ============ Hover ======================= */

.fotoPerfil:hover {
    transform: scaleX(-1) scale(1.8);
    background-image: url('imagens/sarumanMultiverso.png');
    animation: tremer 0.3s infinite;
}
body:has(.fotoPerfil:hover) .cat {
    transform: scale(1.5) scaleX(-1);
}
body:has(.fotoPerfil:hover) .puma {
    transform: scaleX(1);
}
body:has(.fotoPerfil:hover) .riu {
    opacity: 1;
}



body::before {
    content: '';
    position: fixed;
    top: 35%;
    /* left: 0; */
    right: 0;
    transform: translateY(-50%);
    width: 300px;
    height: 600px; /* ajuste conforme sua torre */
    background-image: url('imagens/torre_2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: opacity 2s ease-in-out;
    /* pointer-events: none; */
    mask-image: radial-gradient(ellipse at center, black 40%, transparent 100%);
    -webkit-mask-image: radial-gradient(ellipse at center, black 40%, transparent 100%);
}

body:has(.fotoPerfil:hover)::before {
    opacity: 1;
}
